[Unit]
Description=Node API Server for nginx
After=network.target

[Service]
User=www-data
Group=www-data
ExecStart=/usr/bin/node /var/www/node-api-server/server.js
WorkingDirectory=/var/www/node-api-server/
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodeapi

[Install]
WantedBy=multi-user.target
